<template>
  <div>
    <nav>
      <nuxt-link to="/">Home</nuxt-link>
      <nuxt-link to="/hello">Hello Page</nuxt-link>
      <nuxt-link :to="{ name: 'employees-list' }">Employee List</nuxt-link>
    </nav>
  </div>
</template>