<template>
  <div>
    <h1>従業員ID: {{ this.$route.params.id }}</h1>
    <h1>従業員名: {{ employee.name }}</h1>
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: this.employee.name
    }
  },
  data ()  {
    return {
      employees: [
        {
          id: '1',
          name: 'Taro Yamada'
        },
        {
          id: '2',
          name: 'Hanako Suzuki'
        },
        {
          id: '3',
          name: 'John Kobayashi'
        }
      ]
    }
  },
  computed: {
    employee () {
      // findメソッドは引数に関数を受け取る
      // その関数は引数eに配列の要素を順番に受け取り、結果がtrueのものだけ返す
      // URLがパラメータが1の場合、trueになるのはTaro Yamada
      return this.employees.find(e => e.id === this.$route.params.id)
    }
  }
}
</script>