<template>
  <div>
    <h1>記事ID：{{ post.id }}</h1>
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  head () {
    return {
      title: this.post.title
    }
  },
//   data () {
//     return {
//       post: {}
//     }
//   },
//   async mounted () {
//     const response = await axios.get('https://jsonplaceholder.typicode.com/posts/' + this.$route.params.id)
//     this.post = response.data
//   }
  async asyncData(context) {
    const response = await axios.get('https://jsonplaceholder.typicode.com/posts/' + context.params.id)
    return {
      post: response.data
    }
  }
}
</script>