<template>
  <div>
    <NavBar />
    <h1>Hello, Nuxt.js!!</h1>  
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: 'Hello Page',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'これはHelloページです。'
        }
      ]
    }
  }
}
</script>